* {
    --bg-color: white;
    --bg-alt-color: lightgrey;
    --active-el-color: orange;
    --border-color: black;
}

a {
    text-decoration-line: none;
}

main {
    background: linear-gradient(to bottom, #a0d8ef 0%, #ddf1f9 73%, #feffff 100%);
    min-height: 100vh;
    min-width: 100vw;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
}

footer {
    text-align: center;
    font-size: 0.8em;
}

button {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    border-radius: 0.3em;
    padding: 0.1em;
}

button:hover {
    background-color: var(--bg-alt-color);
}

button:active {
    background-color: var(--active-el-color);
}
.error_reason {
    text-align: center;
    color: firebrick;
    font-weight: bold;
}

.main_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

h1, .title, .central {
    text-align: center;
    align-self: center;
}

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-bottom: 1px solid var(--border-color);
}

.modal_overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 20);
    opacity: 20%;
    z-index: 1;
    width: 100vw;
    height: 100vh;
}

.top_item {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.left_half, .right_half {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left_half {
    text-align: left;
    justify-content: start;
}

.right_half {
    text-align: right;
    justify-content: end;
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: start;
    max-width: 50%;
}

table, tr, td, th {
    border: 1px solid var(--border-color);
    border-collapse: collapse;
}

td, th {
    padding: 0.2em;
}

.hor {
    text-align: start;
}

.code_font {
    font-family: monospace;
}