<div class="vertical_form">
    <h2>Change password</h2>
    <form action="../../change_password" id="form_change_password" method="post">
        <input name="id" type="hidden" value="{{user.id}}">
        <label for="new_password_input">New password:</label>
        <input autocomplete="off" id="new_password_input" name="new" type="password" width="80">
        <label for="confirm_input">Confirm new password: </label>
        <input autocomplete="off" id="confirm_input" name="con" type="password" width="80">
        <button type="submit">Change password</button>
    </form>
</div>