<!DOCTYPE html>
<html lang="en">
<head>
    {% include "links.html" %}
    <script src="../static/js/login_register_form.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if instance %}
    <title>{{instance.name}}</title>
    {% else %}
    <title>Database error</title>
    {% endif %}
</head>
<body>
{% if instance %}
<nav class="menu">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">My files</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<h1 class="title">{{instance.name}}</h1>
<h3>{{instance.description}}</h3>

<div class="column_center">
    <button class="login">Login</button>
    {% include "login_form.html" %}
    <button class="register">Register</button>
    {% include "registration_form.html" %}
</div>
{% include "quick_upload.html" %}
{% else %}
<h1>Rendering failed</h1>
<p class="error_reason">The instance's global data could not be loaded.</p>
{% endif %}
</body>
</html>
