<div class="column_center_up">
    <button class="login">Log in</button>
    <form action="authenticate" class="login_form" method="post">
        <h2>Log in</h2>
        <label for="username_input">Username</label>
        <input id="username_input" name="username" required type="text">
        <label for="password_input">Password</label>
        <input id="password_input" name="password" required type="password">
        <button type="submit">Log in</button>
        {% if login_redirect %}
        <input name="login_redirect" type="hidden" value="/{{login_redirect}}">
        {% else %}
        <input name="login_redirect" type="hidden" value="/">
        {% endif %}
    </form>
    <script src="/static/js/login_form.js"></script>
</div>