<form action="../../modify_instance" id="instance_data_form" method="post">
    <label for="instance_name_input">Name: </label>
    <input id="instance_name_input" name="name" type="text" value="{{instance.name}}">
    <label for="instance_description_input">Description:</label>
    <textarea id="instance_description_input" name="description">{{instance.description}}</textarea>
    <label for="instance_size_input">Size limit (in bytes): </label>
    <input id="instance_size_input" min="0" name="size_limit" step="1" type="number" value="{{instance.size_limit}}">
    <button type="submit">Modify instance settings</button>
</form>