<!DOCTYPE html>
<html lang="en">
<head>
    {% include "links.html" %}
    <meta charset="UTF-8">
    <title>Registration complete</title>
</head>
<body>
{% include "top_bar.html" %}
<div>
    <h1>Successfully registered</h1>
    <p>Now you can log in to {{instance.name}}. Your quick-access token, which you can use to upload files without
        logging in, is: <b>{{token}}</b></p>
    <p>Write it down or memorize it and <b>do not show it to anyone else.</b></p>
</div>
{% include "login_form.html" %}
</body>
</html>