<!DOCTYPE html>
<html lang="en">
<head>
    {% include "links.html" %}
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
{% include "top_bar.html" %}
<div class="main_container">
    <h1 class="title">Settings</h1>
    {% include "reason.html" %}
    <div class="row">
        {% include "form_change_password.html" %}
        {% include "form_change_email.html" %}
        {% include "form_change_username.html" %}
    </div>
    {% include "form_delete_self.html" %}
</div>
</body>
</html>