<!DOCTYPE html>
<html lang="en">
<head>
    {% include "links.html" %}
    <meta charset="UTF-8">
    <title>
        {% if user and user.id == requested_user.id %}
        Your profile
        {% else %}
        User {{requested_user.name}}
        {% endif %}
    </title>
</head>
<body>
{% include "top_bar.html" %}
<div class="main_container">
<h1>{{requested_user.name}}</h1>
{% if requested_user.is_admin %}
<h2>{{instance.name}} administrator</h2>
{% endif %}
<table>
    <tr>
        <th>ID</th>
        <td>{{requested_user.id}}</td>
    </tr>
    <tr>
        <th>Username</th>
        <td>{{requested_user.name}}</td>
    </tr>
    {% if requested_user.is_admin or user and user.is_admin or requested_user.id == user.id %}
    <tr>
        <th>E-mail address</th>
        <td>{{requested_user.email}}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Joined</th>
        <td>{{requested_user.joined}}</td>
    </tr>
</table>
</div>
</body>
</html>